.social-media-icon>i {
    font-size: 3.5rem;
    transition: transform .1s ease;
    color: black;
    padding-right: 2rem;
}

.name{
    font-size: 4rem;
    font-weight: 500;
    color: black;
}


.navbar-end{
    justify-content: flex-end;
    margin-left: auto;
    place-items: flex-end;
    padding-bottom: 1.5rem;
}

#end{
    place-items: flex-end;
}